*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%; //1rem = 16px
}

body {
  font-family: $font-main;
  font-size: $font-normal;
  font-weight: $font-weight-normal;
  color: $color-text;
  background-color: $color-main-bg;
}

.top-container {
  width: $top-container;
  margin: 0 auto;
  @include media-breakpoint-down(xl) {
    width: 90%;
  }
}

.container {
  width: $container;
  margin: 0 auto;
  @include media-breakpoint-down(lg) {
    width: 90%;
  }
}

.right-container {
  padding-left: $side;
  @include media-breakpoint-down(lg) {
    padding-left: 5%;
  }
}

.left-container {
  padding-right: $side;
  @include media-breakpoint-down(lg) {
    padding-right: 5%;
  }
}
.flex-box {
  display: flex;
}

.flex-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
