// scss-docs-start grid-breakpoints
$grid-breakpoints: ( xs: 435px, sm: 576px, md: 768px, lg: 1024px, xl: 1180px, xxl: 1400px) !default;
// scss-docs-end grid-breakpoints

/* >= Tablet min-width: 740px */


/* PC medium resolution > min-width: 1113px */


/* Tablet - PC low resolution (min-width: 740px) and (max-width: 1023px)*/


/* > PC low resolution (min-width: 1024px) and (max-width: 1239px)*/
$top-container: 90%;
$container: 980px;
$side: calc((100vw - #{$container}) / 2);
$main-width: calc(100vw - #{$side});
