//　メインカラー
$color-black: #000000;
$color-white: #ffffff;
$color-main-bg: #f2f2f0;
$color-primary: #57d2fd;
$color-secondary: #57d2ff;
$color-text: #3b4043;
$top-color-text: #707070;
$color-pink: #EBAA96;
$color-orange: #EA611F;
$color-border: #808080;
$footer-border: #333333;
$color-green: #06C755;
$color-pagination: #ACACAC;
$color-sp-menu: #1C1C1C;